@import '../../styles/variables';

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: $surface-color; // Updated variable
    padding: $spacing-unit*3;
    border-radius: $border-radius;
    min-width: 500px;

    @include mobile {
        min-width: 90%;
        width: 90%;
        padding: $spacing-unit*2;
    }

    max-width: 90%;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: $text-primary; // Ensure text color is inherited

    .modalHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: $spacing-unit*2;

        h2 {
            margin: 0;
            color: $text-primary;
        }

        .closeButton {
            background: none;
            font-size: 1.5rem;
            cursor: pointer;
            color: $text-secondary;
            border: none;

            &:hover {
                color: $text-primary;
            }
        }
    }
}