@import '../variables';

.auth-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    /* Center vertically */

    .auth-container {
        background-color: $surface-color;
        padding: $spacing-unit * 5;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        width: 100%;
        max-width: 400px;
        color: $text-primary;
        text-align: center;

        h1 {
            margin-top: 0;
            margin-bottom: $spacing-unit*3;
            color: $text-primary;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: $spacing-unit*2;

            input {
                padding: $spacing-unit*1.5;
                border-radius: $border-radius;
                border: 1px solid rgba(255, 255, 255, 0.1);
                background-color: darken($background-color, 3%);
                color: $text-primary;
                font-family: inherit;
                font-size: 1rem;

                &:focus {
                    outline: none;
                    border-color: $primary-color;
                }
            }

            button {
                padding: $spacing-unit*1.5;
                background-color: $primary-color;
                color: white;
                border-radius: $border-radius;
                font-weight: 600;
                font-size: 1rem;
                transition: background-color 0.2s;

                &:hover {
                    background-color: darken($primary-color, 10%);
                }
            }
        }

        .auth-link {
            margin-top: $spacing-unit*3;
            color: $text-secondary;
            font-size: 0.9rem;

            a {
                color: $primary-color;
                font-weight: 600;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}