@import '../../styles/variables';

.heroSection {
    margin-bottom: $spacing-unit * 4;
    padding-top: $spacing-unit * 2;

    h1 {
        font-size: 2.5rem;
        font-weight: 800;
        margin-bottom: $spacing-unit;
        color: $text-primary;
    }

    p {
        color: $text-secondary;
        font-size: 1.1rem;
        max-width: 600px;
    }
}